.container-summary {
    border-top: 0.0625em solid #f1f0f0;
    margin-top: 20px;
    background: #fff;
    padding: 20px 0;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background-color: white;
    max-width: 900px;
    box-sizing: content-box;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
.row.subtotal {margin-top: 0;}
.row.grand-total .block-left,
.row.grand-total .block-right{color: #dd004b; border-bottom: 0.0625em solid #f1f0f0; border-top: 0.0625em solid #f1f0f0; padding-top: 10px; padding-bottom: 10px;}

@media (min-width: 640px){
    .row { padding-left: 30px;padding-right: 30px; }
}
@media (min-width: 960px){
    .row { padding-left: 40px;padding-right: 40px; }
}

.block-left { width: 50%; box-sizing: border-box; max-width: 100%;}
.block-right { width: 50%; box-sizing: border-box; max-width: 100%; text-align: right;}